{% load static %}

<div class="submit-info-wrap">
    <div class="t1">
        작명진행과정 <span>PROCESS</span>        
    </div>
    <div class="payment">
        <div class="t2">
            <div class="left">
                <img aria-label="jakmyung info" src="{% static 'img/jm_logo.jpg' %}" >            
            </div>
            <div class="right">
                <div class="title1">
                    1. 신청서 작성 
                </div>
                <div class="explain">
                    <span>생년,월,일,시,음력&양력</span> 구분 등 필수 기입 내용을 정확히 기재해주세요.<br>
                    <span>희망 한자, 선호하는 이름유형, 돌림자</span> 등 작명에 필요한 추가정보가 있으면
                    같이 기재 바랍니다.
                </div>
            </div>
        </div>
        
        <div class="t2">
            <div class="left">
                <img aria-label="jakmyung info" src="{% static 'img/gm_logo.jpg' %}" >            
            </div>
            <div class="right">
                <div class="title1">
                    2. 상담료 결제
                </div>
                <div class="explain">
                    신청서 및 입금자 확인 후 <span>작업 시작 전 연락을 드립니다.</span><br>
                    신청서에 불분명한 내용이 있는 경우 또는 연락이 되지 않는 경우 
                    작업은 보류됩니다.
                </div>                
            </div>
        </div>
    </div>
    <div class="payment">
        <div class="t2">
            <div class="left">
                <img aria-label="jakmyung info" src="{% static 'img/sj_logo.jpg' %}" >            
            </div>
            <div class="right">
                <div class="title1">
                    3. 작명작업 진행
                </div>
                <div class="explain">
                    신생아 및 개명신청인의 사주를 분석하여 <span>최적의 이름</span>을 뽑아 신청서에
                    기재된 이메일로 작명추천서를 보내드립니다.
                </div>
            </div>
        </div>
        
        <div class="t2">
            <div class="left">
                <img aria-label="jakmyung info" src="{% static 'img/gh_logo.jpg' %}" >            
            </div>
            <div class="right">
                <div class="title1">
                    4. 작명(개명) 완료
                </div>
                <div class="explain">
                    <span>작명추천서의 이름 중 하나를 선택</span>하시면 작명 및 개명 신청은
                    완료됩니다. <br> 추가 이름 추천 및 인증서(유료)를 원하시는 경우
                    유선으로 문의 바랍니다.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank-space"></div>
<div class="info-content-wrap">
    <div class="t1">
        작명세부안내 <span>DETAILINFO</span>        
    </div>
    
    <div class="explain">
        <div>
            상담비용 결제후 1~2일 이내에 가장 합당한 <span>이름 5개를 추천</span>하여 드리며 작명 추천서는 신청서에 
            기재하여주신 이메일로 보내드립니다.
        </div>
        <div>
            인터넷 작명 및 전화상담 신청 또한 원장님께서 <span>직접 정성을 다해</span> 작명 및 상담해 드리므로 방문상담과
            같은 내용을 제공받으실 수 있습니다.
        </div>
        <div>
            기타 문의사항은 <span>063)285-7255</span> 로 문의주시면 친절하게 상담해 드리겠습니다.
        </div>
        
    </div>
</div>