<div id="cs-wrap">
    <div id="cs">
        <div class="t1">
            고객 상담 전화
        </div>
        <div class="t2">
            방문전 사전예약 필수
        </div>               
        <div class="tel">063-285-7255</div>
    </div>
</div>
<div id="bank-wrap">
    <div id="bank">
        <div class="t1">
            계좌 정보 <span> Account</span>
        </div>
        <div class="t2">
            NH농협<span>( 예금주 : 김종찬 )</span>            
        </div>
        <div class="nh">352-1127-5209-43</div>
    </div>
</div>