{% load static %}

<div class="ban-wrap">
    <div class="ban1-wrap">
        <a href={% url 'm-submit-jm' %}>
            <div class="ban">
                <div>
                    신생아작명신청
                </div>
            </div>
        </a>
        <a href={% url 'm-submit-gm' %}>
            <div class="ban">
                <div>
                    개명신청하기
                </div>
            </div>
        </a>
    </div>
    <div class="ban2-wrap">
        <a href={% url 'm-submit-sj' %}>
            <div class="ban">
                <div>
                    사주상담신청
                </div>
            </div>
        </a>
        <a href={% url 'm-submit-sj' %}>
            <div class="ban">
                <div>
                    결혼궁합상담                    
                </div>
            </div>
        </a>
    </div>
</div>