{% extends 'mobile/main.html' %}
{% load static %}
{% block content %}
<div class="wrap">
    {% include 'mobile/header.html' %}
    <div class="container">
        <div class="conimg">
            <img aria-label="conimage" src="{% static "img/m-maintext.png" %}" >            
        </div>
        <div class="downDiv1">
            {% include 'mobile/components/tap_menu.html' %}
        </div>
        
        <div id="left-con-wrap">
            {% include 'mobile/components/sixlinks.html' %}
        </div>
        
        <div class="downDiv2">
            <img aria-label="down righ bg" src="{% static 'img/downrightbg.jpg' %}">
        </div>
        
        <div id="right_con">
            <div><img aria-label="right con banner" src="{% static 'img/rightbg.jpg' %}"></div>                    
        </div>
        
        
    </div>
    {% include 'mobile/components/footer.html' %}
    
</div>

{% endblock content %}
