@font-face {font-family: 'NotoSansKR-thin';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR-light';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR-regular';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR-medium';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR-bold';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR-black';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
p {margin-block-start: 0; margin-block-end: 0;}

.errorlist {
    color : red;
}

.font-default{
    font-size: 1.3rem;
}

.hidden {
    display:none;
}

html {
    font-family: 'NotoSansKR-regular';
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: normal;
    overflow-y: scroll;
}

.wrap {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

/* ----------  header start ---------- */

.header {
    width: 100%;
    padding-top: 20px;
}

.header_wrap {
    width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo > a > img {
    margin-left: 50px;
    width:200px;
    height: 70px
}


.nav {
    width: 900px;    
    align-items: center;
    display: flex;   
    justify-content: center;    
    font-size: 1rem;
}

.nav > ul {
    width: 100%;   
    list-style: none;    
    padding: 0;    
    margin: 0;    
    display: flex;    
    justify-content: center; 
    gap: 42px;
}

#nav-underline {
    position: absolute;
    left:285;
    height: 3px;
    width: 0px;
    border-radius: 3px;
    transition: 0.5s;
    background-color: rgb(152, 136, 136);
    top:69;
}

.nav > ul > li {    
    text-align: center;
}

.nav > ul > li:hover {
    font-weight: bold;
    cursor: pointer;
}

/* ---------  header end --------- */

/* ----------- 신청서 리스트 페이지 시작  ---------- */

.submit-list-wrap {width:100%;margin:30px 0;}
.submit-list { width:90%;margin:0 auto;}
.submit-list .table {display:table;border-collapse: collapse;width:95%;margin:0 auto;}
.submit-list .table .title{height:40px;font-size:1.1rem;border-bottom: 2px solid rgb(157, 115, 115);}
.submit-list .table-row {display:table-row;border-bottom: 1px solid gray;height:40px;}
.submit-list .table-row div:nth-of-type(1) {width:10%;}
.submit-list .table-row div:nth-of-type(2) {width:20%;}
.submit-list .table-row div:nth-of-type(3) {width:20%;}
.submit-list .table-row div:nth-of-type(4) {width:20%;}
.submit-list .table-cell {display:table-cell;text-align:center;vertical-align:middle;}



/* ----------- 신청서 리스트 페이지 끝  ---------- */



/* ----------  서브타이틀 컴포넌트 시작 ---------- */

.sub-title {
    width:100%;
    display:flex;
    justify-content:center;
}

.sub-title .t1-wrap {
    width:90%;
    border-bottom: 2px solid #e3e3e3;
}

.sub-title .t1 {
    font-size:1.4rem;
    margin: 13px 0 5px 0 ;
    letter-spacing: 2px;
    position:relative;
    font-family: 'Noto Serif KR', serif;
    font-weight:600;
}

.sub-title .t1::before {
    position: absolute;
    top: 0;
    left: -5px;
    content: "";
    font-size: 0.75em;
    opacity:40%;
    width:13px;
    height:13px;
    background: rgb(216, 108, 103);
}

/* ----------  서브타이틀 컴포넌트 끝 ---------- */


/* ----------  신청안내 및 작명절차 컴포넌트 시작 ---------- */

.submit-info {
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.submit-info-wrap {
    display:flex;
    width:90%;
    flex-direction:column;
}

.submit-info .t1 {
    position:relative;
    padding-left:10px;
    font-size:1.1rem;
    margin-top:20px;
}

.submit-info .t1::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 5px;
    height: 15px;
    background: #8b4513;
}

.submit-info .t1 span {
    color:gray;
    font-size:0.9rem;
}

.submit-info .payment {
    display:flex;
    margin-top:25px;
    gap:20px;
    justify-content:space-around;
}

.submit-info .payment .t2 {
    width:40%;
    display:flex;
    gap:10%;
    justify-content:center;
}

.submit-info .payment .t2 .left img{
    border-radius:30px;
    width:70px;
    height:auto;
    border: 1px solid #A4A4A4;
    padding: 10px;
    background-color: #f8f9fb;
}

.submit-info .payment .left {
    align-self:center;
    height:100px;
}


.submit-info .payment .right {
    width:100%;
    padding-left:20px;
}


.submit-info .payment .right button {
    margin: 8px 0 10px 10px;
    padding:3px 5px 5px 5px;
}

.submit-info .payment .right .title{
    margin-bottom: 6px;
    padding-left: 12px;
    background: url('/static/img/titleBulletM2.png') no-repeat left 9px;
    background-size: 5px 5px;
}

.submit-info .payment .right .title1{
    margin-bottom: 6px;
}

.submit-info .payment .right .explain{
    font-size:0.9rem;
}

.info-content-wrap {
    width:90%;
}

.info-content-wrap .explain {
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:15px;
    margin-bottom:20px;
}

.info-content-wrap .explain div {
    background: url('/static/img/titleBulletM2.png') no-repeat;
    background-size: 5px 5px;
    background-position: 0 9px;
    padding-left:10px;
}

.info-content-wrap .explain span{
    color:#B45F04;
    font-size: 1rem;
}

.payment .right .explain span {
    color:#B45F04;
}

.submit-info .payment .img1 {background: url('/static/img/jminfo1.jpg') no-repeat;}
.submit-info .payment .img2 {background: url('/static/img/jminfo2.jpg') no-repeat;}
.submit-info .payment .img3 {background: url('/static/img/jminfo3.jpg') no-repeat;}
.submit-info .payment .img4 {background: url('/static/img/jminfo4.jpg') no-repeat;}

.submit-info .payment .left1 {
    align-self:center;
    width:130px;
    height:100px;
    border-radius:10px;
    background-size:130px 120px;
    background-position:bottom;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    margin-bottom:15px;
}

/* ----------  신청안내 및 작명절차 컴포넌트 끝 ---------- */


/* ----------  작명절차안내 페이지 시작  ---------- */

.sub-page1 div {
    display:flex;
    justify-content:center;
}

#procedure {
    margin-top:10px;
    width:95%;
    height:auto;
}

.procedure_down {
    display:flex;
    justify-content:center;
}

.procedure_down img {
    width:300px;
    height:auto;
    border-radius:10px;
    margin: 50px 30px;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
}

/* ----------  작명절차안내 페이지 끝  ---------- */




/* ----------  신청서 폼 스타일 조정 시작  ---------- */

#id_gen {list-style : none;margin:0;padding:0;display:flex;}
#id_sl {list-style : none;margin:0;padding:0;display:flex;}
#id_category {list-style : none;margin:0;padding:0;display:flex;gap:10px;}
.person-form-sj ul {list-style : none;margin:0;padding:0;display:flex;}
.person-form-sj ul li {align-self:center;}
.personal-info {
    display : flex;
    justify-content : center;
    gap : 10px;    
}
.personal-info input {width:18px;height:18px;}

/* ----------  신청서 폼 스타일 조정 끝  ---------- */



/* ---------  center start --------- */

.container {
    width:100%;     
    margin:0 auto;   
    display: flex;
    flex-direction: column;
}


.banner_con {
    background:url('/static/img/main_banner_con_bg.jpg') no-repeat; 
    background-size:cover; 
    background-position:center; 
    text-align:center;
}

.con_nav {
    width: 1200px;    
    margin: 0 auto;    
    display: flex;   
    justify-content: center;    
}

.con_nav > ul {
    width: 100%;   
    list-style: none;    
    padding: 0;    
    margin: 0;    
    display: flex;    

}
.con_nav ul a {
    width:20%;
}
.con_nav > ul > a > li {
    height : 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid #dfdfdf;
    
}

.con_nav > ul > a > li:hover {
    background-color: rgb(232, 219, 204);  
    color: #4c2c2c;
    cursor: pointer;
    font-weight: bold;
}

.contents_con {
    width:1200px; 
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

#left-con-wrap {
    width:800px;
    height:400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}

.lcon-div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:260px;
    height:200px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.lcon-div div img {
    transition:1s
}

.lcon-div:hover div img {
    transform: scale(1.1);
}

.lcon-div:hover .lcon_text div {
    border: 1px solid rgb(161, 161, 161);
}

.lcon-div:hover {
    cursor: pointer;
    background-color: rgb(232, 219, 204);
}

.lcon_img {
    overflow: hidden;
    height:110px;
}

.lcon_text {
    font-size: 1.01rem;
    height:40px;
    padding : 8px;
}

.lcon_text div {
    border: 1px dashed rgb(168, 168, 168);
    padding: 2px 15px;
    letter-spacing: 3px;
    text-align: center;
}

.lcon_text span {
    font-family: 'NotoSansKR-light';
    font-size: 0.9rem;
}

#right_con { 
    width:388px;
    height:410px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}

#down_con {
    width:1200px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.downDiv1 {
    width:595px;
    height:300px;
    border: 1px solid #dfdfdf;
}

.downDiv2 {
    width:595px;
    height:300px;
    border: 1px solid #dfdfdf;
}

.tab-btn {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab-btn li {
    background: #e1e1e1;
    color: rgb(48, 48, 48);
    flex: auto;
    text-align: center;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.tab-btn li:hover {
    font-weight: bold;
}

.tab-btn li.active {
    font-weight: bold;
    background-color: #ffffff;
}

.tab-content {
    position: relative;
}

.tab {
    position: absolute;
    width: 100%;
    height:266px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;    
}

.tab-content div.active {
    opacity: 1;
    visibility: visible;
}


.tabText {
    position: inherit;
    color: #1d1d1d;
    top:10px;
    left:270px;
    width: 310px;
    height: 250px;
    font-size: 0.9rem;
    line-height: 160%;
}


.tabImage {
    position: inherit;
    top:20px;
    left:20px;
    width:230px;
    height:230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.tabImage img {
    width:200px;
    height:200px;
}


/* ---------  center end --------- */

/* ----------- footer start ---------- */

.footer {
    width: 100%;    
    margin: 0 auto;    
    height: 200px;
    background-color: #E8E8E8;
}

.fwrap {
    width:1200px;
    height:100%;
    margin: 0 auto;    
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.fwrap div img {
    margin-left:80px;
    width:180px
}

.ftext {
    display: flex;
    width:800px;
    justify-content: left;
    padding-left: 70px;
    flex-direction: column;
}

.ftext ul{
    display: flex;
    margin:0px;
    padding:0px;
    gap: 20px;
    justify-content: left;
}

.ftext ul li {
    list-style: none;
    font-family: 'NotoSansKR-medium';
}

.ftext div p.copy {
    font-size: 12px;
    opacity: 0.8;
}

.ftext div p span {
    display: inline-block;
    color: rgba(93, 93, 93, 0.4);
    margin: 0 10px;
    font-weight: bold;
}
/* ----------- footer end ---------- */

/* ----------- sub introduce start ---------- */

.subCent {
    width:1200px;
    margin: 0 auto;
    display: flex;
}

.subLeftBan {
    width:300px;
    height:250px;
    background:url('/static/img/subLeftBg.jpg') no-repeat; 
}

.subRightBan {
    width:900px;
    height:250px;
    background:url('/static/img/subRightBg.jpg') no-repeat; 
}

.subRightBan1 {
    width:900px;
    height:250px;
    background:url('/static/img/subRightBg1.jpg') no-repeat; 
}

.subRightBan2 {
    width:900px;
    height:250px;
    background:url('/static/img/subRightBg2.jpg') no-repeat; 
}

.subRightBan3 {
    width:900px;
    height:250px;
    background:url('/static/img/subRightBg3.jpg') no-repeat; 
}

.subSideMenu {
    width:300px;
    background:url('/static/img/submenubg.jpg'); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sideNav {
    display: flex;
    justify-content: right;

}

.sideNav ul {
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;

}

.sideNav ul li {
    display: flex;
    align-items: center;
    height:50px;
    list-style: none;
    transition: 0.3s;
}

.sideNav ul li:hover {
    font-weight: bold;
    cursor: pointer;
}

.sidebot {
    width: 300px;
    height: 300px;
}

.subContent {
    width:900px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.subcontext {
    padding: 0 30px;
    margin-top: 20px;
}

.subcontext p{
    line-height: 180%;
    font-size: 1.05rem;
}

.subcontext p span {
    font-family: 'NotoSansKR-medium';
    font-size: 1.1rem;
}
.subconbot {
    display: flex;
    height: 200px;
    justify-content: left;
    background:url('/static/img/contbg.jpg') no-repeat; 
    background-position: right bottom;
}
.subconbot img {
    margin-top: 20px;
    margin-left: 80px;
    height:100px;
}

/* ----------- sub introduce end ---------- */


/* ----------- 작명개명 신청하기 폼 페이지 시작  ---------- */

.submitForm-wrap {
    margin: 20px auto;
    width: 700px;
    
}

.submitForm-wrap form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.submitForm-wrap .requester-form-wrap {
    border : 1px solid #e7e7e7;
    box-sizing:border-box;
    border-radius: 20px;
    padding : 0px 40px;

}

.submitForm-wrap .requester-form-wrap .title,
.submitForm-wrap .person-form-wrap .title {
    position: relative;
}



.submitForm-wrap .requester-form-wrap .title::before,
.submitForm-wrap .person-form-wrap .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 60px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a5a567, #905b11);
}

.submitForm-wrap .requester-form-wrap .title h3 span {
    margin-left:30px;
    font-size: 0.9rem;
    font-weight: 400;
}

.submitForm-wrap .requester-form-wrap .form-content {
    margin-top:25px;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-bottom:25px;
}

.submitForm-wrap .requester-form-wrap .form-content div {
    width:100%;
    display: flex;
    justify-content: left;
}

.submitForm-wrap .requester-form-wrap .form-content div label {
    width:150px;
}

.submitForm-wrap .requester-form-wrap .form-content div #id_category {
    height:30px;
    width:300px;
}

.submitForm-wrap .requester-form-wrap .form-content p {
    width:100%;
    display: flex;
    justify-content: left;
}

.submitForm-wrap .requester-form-wrap .form-content p label {
    width:150px;
}

.submitForm-wrap .requester-form-wrap .form-content p input {
    width:300px;
    height:30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #535353;
    outline: none;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    font-size: 1rem;
    font-family: "NotoSansKR-light";

}

.submitForm-wrap .requester-form-wrap .form-content p textarea {
    width:400px;
    height:150px;
    font-size: 1rem;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #535353;
    outline: none;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.submitForm-wrap .requester-form-wrap .form-content p input:focus,
.submitForm-wrap .requester-form-wrap .form-content p input:hover{
    border-color:rgb(131, 63, 63);
}

.submitForm-wrap .person-form-wrap {
    border : 1px solid #e7e7e7;
    box-sizing:border-box;
    border-radius: 20px;
    padding : 0px 0px 30px 40px;
}



#person-form-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.submitForm-wrap .person-form-wrap .person-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.submitForm-wrap .person-form-wrap .person-form div {
    display: flex;
}

.submitForm-wrap .person-form-wrap .person-form .label {
    width:120px;
}

.submitForm-wrap .person-form-wrap .person-form .gen-radio{
    width:180px;
}

.submitForm-wrap .person-form-wrap .person-form .sl-radio{
    width:200px;
}


.submitForm-wrap .person-form-wrap .person-form .input{
    width:180px;
}

.submitForm-wrap .person-form-wrap .person-form .input select{
    font-size: 1rem;
}

.submitForm-wrap .submit-button-wrap{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.submitForm-wrap .submit-button-wrap button {
    font-size: 1rem;
    width: 90px;
    height: 35px;
}

/* ----------- 작명개명 신청하기 폼 페이지 끝  ---------- */

/* ----------- 신청서 확인 폼 페이지 시작  ---------- */

.auth-no-submit {
    width:100%;
    height:200px;
    color:brown;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
}


.find-form {
    width:100%;
    height:70%;
    display: flex;
    flex-direction:column;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.find-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:350px;
    border: 1px solid #535353;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
}

.find-form form h3{
    position: relative;
}

.find-form form h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 56px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a5a567, #905b11);
}

.find-form form div {
    display: flex;
}

.find-form form div .find-name{
    align-self: center;
    width:30%;
    font-size: 1.1rem;
}

.find-form form input {
    height:25px;
    width:65%;
    font-size: 1rem;
}

.find-form form button {
    height:35px;
    font-size: 1rem;
    width:100px;
    align-self: center;
    margin: 10px 0;

}
/* ----------- 신청서 확인 폼 페이지 끝  ---------- */

/* ----------- 신청내용 확인 페이지 시작  ---------- */

.submit-check-wrap{
    margin: 0 auto;
    width:90%;
}

.submit-check-wrap h2{
    text-align: center;
    padding: 20px 0;
}

.submit-check-wrap h3{
    position: relative;
}

.submit-check-wrap h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 70px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a5a567, #905b11);
}

.submit-check-wrap table{
    margin: 0 auto;
    width:80%;
    border-spacing: 0;
}

.submit-check-wrap table th {
    border-bottom: 1px solid #acacac;
    padding:10px;
    font-size: 1.1rem;
    text-align: left;
}

.submit-check-wrap table td {
    border-bottom: 1px solid #acacac;
    padding:10px;
}

.submit-check-wrap table .bold-underbar {
    border-bottom: 1px ridge #000000;
}

.submit-check-wrap table td:nth-child(odd){
    background-color: #fffaf2;
    width: 130px;
    text-align: center;
}

.submit-check-wrap div{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.submit-check-wrap div button{
    width:100px;
    font-size: 1rem;
    height:40px;
}
/* ----------- 신청내용 확인 페이지 끝  ---------- */


/* ----------- 사주/궁합 신청하기 시작  ---------- */

.submitForm-wrap .sjperson-form-wrap{
    border : 1px solid #e7e7e7;
    border-radius: 20px;
    padding-bottom: 20px;
}
.submitForm-wrap .sjperson-form-wrap .title-wrap{
    width:88%;
    margin-left:40px; 
    display: flex;
    justify-content: space-between;
    height:50px;
    margin-bottom: 20px;
}

.submitForm-wrap .sjperson-form-wrap .title-wrap .title{
    width:100%;
    position: relative;
}

.submitForm-wrap .sjperson-form-wrap .title-wrap .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 70px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a5a567, #905b11);
}
.submitForm-wrap .sjperson-form-wrap .title-wrap .mini-button-wrap{
    width:300px;
    height:50px;
    display: flex;
    justify-content: left;
    align-items:flex-end;
}

.submitForm-wrap .sjperson-form-wrap .title-wrap .mini-button-wrap span{
    margin-bottom: 3px;
}

.submitForm-wrap .sjperson-form-wrap #person-form-list{
    width:90%;
    margin:0 auto;
}

.submitForm-wrap .sjperson-form-wrap .person-form-sj {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap:10px;
}

.submitForm-wrap .sjperson-form-wrap .person-form-sj p:nth-of-type(1) input{
    width:150px;
}

.submitForm-wrap .sjperson-form-wrap .person-form-sj *{
    font-size: 1rem;
}

.submitForm-wrap .sjperson-form-wrap .person-form-sj .top-bar{
    width:95%;
    border-bottom: 1px solid #acacac;
}

.submitForm-wrap .sjperson-form-wrap .person-form-sj div{
    display: flex;
    align-items: center;
    gap: 5px;
}

#add-more img {
    width:20px;
    height:20px;
}

#add-more {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

#remove img {
    width:20px;
    height:20px;
}

#remove {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
/* ----------- 사주/궁합 신청하기 끝  ---------- */



.login-wrap{width:100%;display:flex;justify-content:center;height:100%;margin:30px 0;font-size:1.1rem;}
.login {width:60%;align-self:center;display:flex;flex-direction:column;gap:15px;padding:20px 10px;}
.login-wrap .border {border: 1px solid #aaa;border-radius:10px;}
.login form {width:80%;margin:0 auto;}
.login a {text-decoration: underline;color:#B45F04;}
.login .secondaryAction{align-self:center;}
.login p {align-self:center;}
.login form p label {display:inline-block;width:110px;}
.login form p input {width:140px;height:20px;}
.login form p:nth-last-of-type(1) {display:flex;justify-content:center;align-items:center;gap:5px;}
.login form p:nth-last-of-type(1) label{width:90px;}
.login form p:nth-last-of-type(1) input{width:10px;}
.login form button:nth-last-of-type(1){width:130px;align-self:center;height:30px;font-size:1rem;}

.signup-wrap{width:100%;display:flex;justify-content:center;margin: 30px 0;height:100%;font-size:1.1rem;}
.signup-wrap .border{border: 1px solid #aaa;border-radius:10px;}
.signup {width:60%;align-self:center;display:flex;flex-direction:column;gap:15px;padding:20px 10px;}
.signup form {width:90%;margin:0 auto;}
.signup a {text-decoration: underline;color:#B45F04;}
.signup p {align-self:center;}
.signup form p label {display:inline-block;width:130px;}
.signup form p input {width:140px;height:20px;}
.signup form button:nth-last-of-type(1){width:130px;align-self:center;height:30px;font-size:1rem;}
.signup .form-error{color:red;margin:0 auto;}