{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600&display=swap');
</style>

<div class="wrap">
    {% include 'header.html' %}

    <div class="container">
        <div class="subCent">
            <div class="subLeftBan"></div>
            <div class="subRightBan"></div>
        </div>
        <div class="subCent">
            {% include 'base/components/sub_sidemenu1.html' %}
            <div class="subContent">
                <div class="sub-title">
                    <div class="t1-wrap">
                        <div class="t1">
                            찾아오시는길
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}

    </div>
</div>
{% endblock content %}
